@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #202632;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#advice-container {
  position: relative;
  width: 450px;
  min-height: 300px;
  background-color: #313a49;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#advice-container .advice-id{
  margin: 30px 0;
  color: #53ffaa;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
}

#advice-container .advice{
  text-align: center;
  width: 80%;
  color: #c4d8df;
  font-size: 28px;
  font-weight: bold;
}


#advice-container .divisor{
  margin: 30px 0 50px 0;
  width: 80%;
  height: 30px;
  background: url('../images/pattern-divider-desktop.svg') no-repeat center center;
}

#advice-container button.btn-advice{
  position: absolute;
  top:calc(100% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #53ffaa;
  cursor: pointer;
  transition: 0.3s;
}

#advice-container button.btn-advice:hover{
  box-shadow: 0px 0px 29px 8px rgba(83,255,170,0.6);
}